img{
    max-width: 25em;
}
h2{
    border-bottom: 1px solid white;
    /* max-width:10em; */
}
a:hover{
    border-bottom: 1px solid white;
}


.carousel-image{
  min-width:40em;
}

/*Center unordered list in resume for highlighted box*/
ul.center{
  list-style-type: none;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  text-align:center;
}

/*Center unordered list in resume for highlighted box*/
ul.courses{
  font-size:1.2em;
}

/*
Styling for the list of Skills table
*/

/*Styling for a table (languages table)*/
table {
    margin: 1em 0em;
    border: 0.1em solid white;
    
  }
  /*Styling for the header columns*/
  th {
    margin: 0.2em;
    padding: 0.2em;
    border-right: 0.2em solid;
    text-align: center;
  }
  /*Styling for the default cells*/
  td {
    margin: 0.2em;
    padding: 0.2em;
    border-right: 0.2em solid;
    text-align: center;
  }

  /*Image styling for blog post in projects*/
  img.projectimage {
    max-width: 10em;
    max-height: 8.5em;
    margin-left: 5em;
    margin-top: 1em;
    border-radius:5em;
    border:0.2em solid white;
  }

  .card{
    background-color:white;
  }

  #fancyevan{
    border: 0.25em solid white;
    border-radius:50%;
  }